// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  margin : 0;
  padding: 0;
  background-color: #eceff1;
  height: 100%;
  width: 100%;
}
.container {
  overflow-y: hidden;
}
.All {
  padding-top: 25px;
  margin: 0px auto;
  margin-top: 100px;
  width: 540px;
  height: 80px;
  background: #2196f3;
  color: white;
  z-index: 10;
  text-align: center;
  font-size: 25px;
}
.contentbox {
  width: 540px;
  height: 320px;
  margin: 0px auto;
  margin-top: -20px;
  background: #ffffff;
  padding-top: 50px;
}
.login_form {
  height: 100%;
}
input[type="text"]{
  display: block;
  width: 309px;
  height: 35px;
  margin: 15px auto;
  background: #fff;
  border: 0px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #999999;
  transition: all 0.3s ease;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input[type="text"]:focus{
  border: 2px solid #1abc9d;
}
input[type="submit"]{
  display: block;
  background: #1abc9d;
  width: 314px;
  height: 60px;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover{
  background: #09cca6;
}
.EnterLogin {
  padding-top: 8px;
  float: right;
  display: inline-block;
  line-height: 70px;
  margin-right: 6px;
}
.EnterLogin img {
  float: right;
}
